*~
*.sw[op]
tags

.env

# generated static resources
data/gql/bindata.go

# generated documentation files
docs/docs.go
docs/swagger*

target/
.idea/
app/thumbs.db
app/.DS_Store
app/.yarnclean
app/dist/
app/node_modules/
app/.idea/
