*~
*.sw[op]
tags

.env

data.db

# front-end
app/dist/
app/node_modules/
app/.yarnclean

# generated static resources
data/gql/bindata.go
data/init/bindata.go

# generated documentation files
docs/docs.go
docs/swagger*

# build
dist/
target/
tmp/

# configuration
.idea/
app/thumbs.db
app/.DS_Store
app/.yarnclean
app/dist/
app/node_modules/
app/.idea/
