*~
*.sw[op]
tags

.env

# front-end
app/dist/
app/node_modules/

# generated static resources
data/gql/bindata.go

# generated documentation files
docs/docs.go
docs/swagger*

# build
dist/
target/
tmp/

# configuration
.idea/
