@import '~7g-utils/style';
@import '/src/renderer/styles/';
html {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    background: $appBackgroundColor;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
}

.main-content {
    padding: 32px;
    box-sizing: border-box;
    height: inherit;
}